<div class="phone-input-container">
  <label *ngIf="label" class="label">{{ label }}</label>
  
  <div class="input-wrapper" [class.error]="touched && !isValid">
    <div class="country-code" (click)="toggleDropdown($event)">
      <app-icon [name]="selectedCountry.flag" class="country-flag" [width]="18" [height]="18" [style]="{'margin-right': '4px', 'height': '18px', 'width': '18px'}"></app-icon>
      <span style="margin-right: 4px;">{{selectedCountry.dialCode}}</span>
      <app-icon [name]="showCountryDropdown ? 'arrow-up' : 'arrow-down'" class="arrow" [width]="18" [height]="18" [style]="{'height': '18px', 'width': '18px'}"></app-icon>
    </div>
    
    <input 
      #phoneInput
      type="tel" 
      class="phone-input"
      [attr.maxlength]="maxLength ? maxLength : null"
      [attr.minlength]="minLength ? minLength : null" 
      [(ngModel)]="phoneNumber" 
      [placeholder]="placeholder"
      (focus)="onFocus($event)"
      (ngModelChange)="onPhoneNumberChange()"
      (keypress)="onKeyPress($event)"
      (paste)="onPaste($event)"
      (blur)="onBlur($event)">
  </div>

  <div *ngIf="touched && !isValid" class="error-message">
    {{ errorMessage }}
  </div>
  
  <div #dropdown *ngIf="showCountryDropdown" class="country-dropdown-container">
    <div class="country-dropdown">
      <ul class="country-list">
        <li *ngFor="let country of countries" 
            class="country-item"
            [class.selected]="country.code === selectedCountry.code"
            (click)="selectCountry(country, $event)">
          <app-icon [name]="country.flag" class="country-flag" [width]="18" [height]="18"></app-icon>
          <span style="flex: 1;">{{ country.name }} <span *ngIf="country.nativeName" style="color: #6b7280; font-size: 12px;">({{ country.nativeName }})</span></span>
          <span style="color: #6b7280; margin-left: 8px;">{{ country.dialCode }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>