::ng-deep {
  .mat-mdc-dialog-surface {
    border-radius: 20px !important;
  }
  .highlight {
    color: var(--Info-Blue, #1a73e7);
    font-weight: bold !important;
    border-radius: 2px !important;
    padding: 0 2px !important;
  }
  .mdc-evolution-chip__text-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.facility-option {
  border-radius: 6px;
  background: #f6f6f6;
  margin: 0px 5px 5px;
  &:hover {
    background: #e0e0e0;
  }
}

.facilities-container {
  overflow: hidden;
  height: 100%;
}
