<div class="shell-layout">
  <app-header class="shell-header"></app-header>

  <mat-sidenav-container class="shell-container">
    <mat-sidenav
      #snav
      mode="side"
      [fixedInViewport]="true"
      opened
      class="shell-sidebar mat-drawer-side"
    >
      <app-sidebar [sidenav]="snav"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="shell-main">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-footer class="shell-footer"></app-footer>
</div>
