.shell-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.shell-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.shell-container {
  flex: 1;
  margin-top: 100px; // Height of the toolbar
}

.shell-sidebar {
  width: 330px;
}

.shell-main {
  padding: 20px;
}

.shell-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
