.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  height: 100px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--Gray-Gray-94, #ebecf0);
}

.logo-container {
  margin-right: 10px;
}

.logo-image {
  height: 70px;
  width: 70px;
  margin-right: 10px;
}

.logo-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}

.main-nav {
  flex: 1;
  gap: 24px;
  justify-content: center;
  
  a.mat-button {
    letter-spacing: normal;
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Style for menu items in user dropdown */
::ng-deep .mat-menu-content {
  .mat-mdc-menu-item {
    .mdc-list-item__primary-text {
      color: var(--gray-70, #8c99b3);
      font-size: 0.75rem; /* 12px */
      font-weight: 400;
    }
    
    .mat-icon {
      color: var(--gray-70, #8c99b3);
      margin-right: 8px;
    }
  }
}
