.dropdown-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  font-family: 'Inter', sans-serif;

  &.full-width {
    width: 100%;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .dropdown-label {
    font-size: 14px;
    font-weight: 400;
    color: #0D121C;
    margin-bottom: 14px;
  }

  .dropdown-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    background: transparent;
    

    &:hover {
      border-color: #364152;
    }

    &:focus-within {
      border-color: #1E417C;
      outline: none;
    }

    &.open {
      border-color: #364152;
      background: transparent;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    &.open .arrow {
      color: #1E417C;
    }

    &:hover .arrow {
      color: #364152;
    }

    .arrow {
      font-size: 14px;
      margin-left: 10px;
      color: #d1d5db;
      transition: color 0.2s ease-in-out;
      flex-shrink: 0;
    }
  }

  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 8px 0;
    margin-top: 4px;
    z-index: 10;
    overflow-y: auto;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 16px;
      cursor: pointer;
      font-size: 14px;
      transition: background 0.2s ease-in-out;

      &:hover {
        background: #f3f4f6;
      }

      &.selected {
        background: #1E417C1A;
        color: #364152;
        font-weight: 600;
      }

      .option-text {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .check-icon {
        font-size: 14px;
        color: #1E417C;
        flex-shrink: 0;
      }
    }
  }
}

.placeholder-text {
  color: var(--neutral-400);
}

.error-message {
  color: #FF0000;
  font-size: 12px;
  margin-top: 4px;
  margin-left: 32px;
}
