<footer class="footer mat-elevation-z1">
  <div class="d-flex justify-content-between align-items-center">
    <div class="regular-10 text-gray-60">
      All Right Reserved © 2024 ADIP | Version 10.1.2 - Released 06/27/2024
    </div>
    <div class="d-flex align-items-center">
      <button mat-button color="primary" class="regular-12 text-gray-60">
        View OS System Info
      </button>
      <mat-divider [vertical]="true" class="mx-2"></mat-divider>
      <button mat-button color="primary" class="regular-12 text-gray-60">
        Release History
      </button>
      <mat-divider [vertical]="true" class="mx-2"></mat-divider>
      <button mat-button color="primary" class="regular-12 text-gray-60">
        Submit Feedback
      </button>
    </div>
  </div>
</footer>
