<footer class="footer mat-elevation-z1">
  <div class="footer-content d-flex justify-content-between align-items-center">
    <div class="copyright text-muted">
      All Right Reserved © 2024 ADIP | Version 10.1.2 - Released 06/27/2024
    </div>
    <div class="footer-links d-flex align-items-center">
      <button mat-button color="primary" class="footer-link">
        View OS System Info
      </button>
      <mat-divider [vertical]="true" class="mx-2"></mat-divider>
      <button mat-button color="primary" class="footer-link">
        Release History
      </button>
      <mat-divider [vertical]="true" class="mx-2"></mat-divider>
      <button mat-button color="primary" class="footer-link">
        Submit Feedback
      </button>
    </div>
  </div>
</footer>
