<div class="custom-input-container" [class.disabled]="disabled">
  <label *ngIf="label" class="label">{{ label }}</label>

  <div
    class="input-wrapper"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
  >
    <input
      [type]="type"
      [ngClass]="inputClasses"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [required]="required"
      [attr.maxlength]="maxLength ? maxLength : null"
      [formControl]="formControl"
      [attr.minlength]="minLength ? minLength : null"
      [value]="value"
      (input)="onChange($any($event.target).value)"
      (focus)="onFocus($event)"
      (blur)="onTouched()"
      class="custom-input"
    />

    <div
      *ngIf="showCheckmark && (hasValue || isFocused) && !showError"
      class="checkmark"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.6663 5L7.49967 14.1667L3.33301 10"
          stroke="#12B76A"
          stroke-width="1.66667"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>

  <div class="supporting-text" *ngIf="hasSupportingText || showError">
    <div *ngIf="showError" class="error-text">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.32171 9.68293C7.73539 5.41199 8.94222 3.27651 10.5983 2.72681C11.5093 2.4244 12.4907 2.4244 13.4017 2.72681C15.0578 3.27651 16.2646 5.41199 18.6783 9.68293C21.092 13.9539 22.2988 16.0893 21.9368 17.8293C21.7376 18.7866 21.2469 19.6549 20.535 20.3097C19.241 21.5 16.8274 21.5 12 21.5C7.17265 21.5 4.75897 21.5 3.46496 20.3097C2.75308 19.6549 2.26239 18.7866 2.06322 17.8293C1.70119 16.0893 2.90803 13.9539 5.32171 9.68293Z"
          stroke="#B71C1C"
          stroke-width="1.5"
        />
        <path
          d="M12.2422 17V13C12.2422 12.5286 12.2422 12.2929 12.0957 12.1464C11.9493 12 11.7136 12 11.2422 12"
          stroke="#B71C1C"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M11.992 9H12.001"
          stroke="#B71C1C"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <span>{{ getErrorMessage() }}</span>
    </div>

    <div *ngIf="!showError && hasSupportingText" class="helper-text">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5 14L8.5 17.5L19 6.5"
          stroke="#667085"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <span>{{ supportingText }}</span>
    </div>
  </div>
</div>
