<div class="sidebar">
  <button mat-mini-fab color="secondary" class="mb-40">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-form-field appearance="outline" class="custom-search-field fs-12 mb-40">
    <mat-icon matPrefix>flight</mat-icon>
    <input matInput class="fs-12" placeholder="Facility Name or LOC ID" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-nav-list
    class="nav-section mb-40 cursor-pointer"
    routerLink="/dashboard"
  >
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center gap-3">
        <mat-icon class="me-2">dashboard</mat-icon>
        <span>Dashboard</span>
      </div>
      <div class="d-flex align-items-center gap-3">
        <span class="ms-2 badge bg-primary">3</span>
        <mat-icon matSuffix
          ><span class="material-symbols-outlined">
            keyboard_arrow_down
          </span></mat-icon
        >
      </div>
    </div>
  </mat-nav-list>

  <mat-card appearance="outlined" class="favorites-section mb-4">
    <mat-card-content>
      <div class="">
        <div class="d-flex gap-3 align-items-center">
          <mat-icon class="search-icon">star</mat-icon>
          <h3 class="section-title mb-0">Favourite Apps</h3>
        </div>

        <mat-card appearance="outlined" class="favorite-items-section">
          <mat-card-content>
            <div
              class="d-flex align-items-center justify-content-between cursor-pointer mb-12"
              routerLink="/adm"
            >
              <div class="d-flex align-items-center">
                <mat-icon matListItemIcon class="">business</mat-icon>
                <span matListItemTitle class="ms-12">ADM</span>
              </div>

              <mat-icon matListItemIcon class="fs-13 fw-bold"
                >arrow_forward_ios</mat-icon
              >
            </div>
            <div
              class="d-flex align-items-center justify-content-between cursor-pointer mb-12"
              routerLink="/ram"
            >
              <div class="d-flex align-items-center">
                <mat-icon matListItemIcon>sync</mat-icon>
                <span matListItemTitle class="ms-12">RAM</span>
              </div>

              <mat-icon matListItemIcon class="fs-13 fw-bold"
                >arrow_forward_ios</mat-icon
              >
            </div>
            <div
              class="d-flex align-items-center justify-content-between cursor-pointer mb-12"
              routerLink="/agis"
            >
              <div class="d-flex align-items-center">
                <mat-icon matListItemIcon>assignment</mat-icon>
                <span matListItemTitle class="ms-12">RSA</span>
              </div>

              <mat-icon matListItemIcon class="fs-13 fw-bold"
                >arrow_forward_ios</mat-icon
              >
            </div>
            <div
              class="d-flex align-items-center justify-content-between cursor-pointer"
              routerLink="/rim"
            >
              <div class="d-flex align-items-center">
                <mat-icon matListItemIcon>edit</mat-icon>
                <span matListItemTitle class="ms-12">RIM</span>
              </div>

              <mat-icon matListItemIcon class="fs-13 fw-bold"
                >arrow_forward_ios</mat-icon
              >
            </div>
          </mat-card-content>
        </mat-card>
      </div></mat-card-content
    >
  </mat-card>

  <div class="all-apps-section mb-4">
    <button mat-stroked-button class="w-100">
      <mat-icon>apps</mat-icon>
      <span class="ms-2 fs-13 fw-bold">All Applications</span>
    </button>
  </div>

  <div class="resources-section">
    <h3 class="section-title mb-3">Resources</h3>
    <mat-nav-list class="resource-items">
      <a mat-list-item class="resource-item">
        <mat-icon matListItemIcon>help</mat-icon>
        <span matListItemTitle>Help Desk</span>
      </a>
      <a mat-list-item class="resource-item">
        <mat-icon matListItemIcon>description</mat-icon>
        <span matListItemTitle>Documents & Downloads</span>
      </a>
      <a mat-list-item class="resource-item">
        <mat-icon matListItemIcon>menu_book</mat-icon>
        <span matListItemTitle>Users Guides</span>
      </a>
    </mat-nav-list>
  </div>
</div>
