<div class="sidebar" [class.minimized]="isMinimized">
  <button
    mat-mini-fab
    color="text-gray-70"
    class="mb-40"
    (click)="toggleSidebar()"
  >
    <mat-icon class="text-gray-70">{{
      isMinimized ? "menu" : "menu_open"
    }}</mat-icon>
  </button>

  <div class="sidebar-content" *ngIf="!isMinimized">
    <h3 class="bold-12 mb-3 text-gray-70">Facility Search</h3>

    <mat-form-field class="custom-search-field mb-20">
      <mat-icon matPrefix class="text-gray-80">flight</mat-icon>
      <input
        matInput
        class="text-gray-70 bold-12"
        placeholder="Facility Name or LOC ID"
      />
      <mat-icon matSuffix class="text-gray-80">search</mat-icon>
    </mat-form-field>

    <mat-nav-list class="nav-items d-flex flex-column gap-3">
      <ng-container *ngFor="let item of navItems">
        <!-- Item without children -->
        <a
          mat-list-item
          class="nav-item"
          *ngIf="!item.children"
          [routerLink]="item.route"
          routerLinkActive="bg-primary"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon
            matListItemIcon
            [ngClass]="isRouteActive(item) ? 'text-white' : 'text-gray-70'"
            >{{ item.icon }}</mat-icon
          >
          <span
            matListItemTitle
            class="bold-13"
            [ngClass]="isRouteActive(item) ? 'text-white' : 'text-gray-70'"
          >
            {{ item.label }}</span
          >
        </a>

        <!-- Item with submenu -->
        <mat-expansion-panel
          class="sidebar-expansion-panel"
          *ngIf="item.children"
          [expanded]="isRouteActive(item)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon matListItemIcon class="text-gray-70 me-20">{{
                item.icon
              }}</mat-icon>
              <span matListItemTitle class="bold-13 text-gray-70">
                {{ item.label }}</span
              >
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a
            mat-list-item
            *ngFor="let subItem of item.children"
            [routerLink]="subItem.route"
            routerLinkActive="bg-primary"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon
              matListItemIcon
              [ngClass]="isRouteActive(subItem) ? 'text-white' : 'text-gray-70'"
              >{{ subItem.icon }}</mat-icon
            >
            <span
              matListItemTitle
              class="medium-13"
              [ngClass]="isRouteActive(subItem) ? 'text-white' : 'text-gray-70'"
            >
              {{ subItem.label }}</span
            >
          </a>
        </mat-expansion-panel>
      </ng-container>
    </mat-nav-list>

    <h3 class="black-12 mb-3 text-gray-70 mb-3">Resources</h3>
    <mat-nav-list class="nav-items d-flex flex-column gap-2">
      <ng-container *ngFor="let item of resources">
        <a
          mat-list-item
          class="nav-item"
          [routerLink]="item.route"
          routerLinkActive="bg-primary"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon
            matListItemIcon
            [ngClass]="isRouteActive(item) ? 'text-white' : 'text-gray-70'"
            >{{ item.icon }}</mat-icon
          >
          <span
            matListItemTitle
            class="bold-13"
            [ngClass]="isRouteActive(item) ? 'text-white' : 'text-gray-70'"
          >
            {{ item.label }}</span
          >
        </a>
      </ng-container>
    </mat-nav-list>
  </div>

  <!-- Minimized view showing only icons -->
  <div class="minimized-nav" *ngIf="isMinimized">
    <mat-nav-list class="nav-items">
      <ng-container *ngFor="let item of navItems">
        <!-- Item without children -->
        <a
          mat-list-item
          class="nav-item"
          *ngIf="!item.children"
          [routerLink]="item.route"
          routerLinkActive="bg-primary"
          [routerLinkActiveOptions]="{ exact: true }"
          [matTooltip]="item.label"
        >
          <mat-icon
            matListItemIcon
            class="me-0"
            [ngClass]="isRouteActive(item) ? 'text-white' : 'text-gray-70'"
            >{{ item.icon }}</mat-icon
          >
        </a>

        <!-- Item with children -->
        <a
          mat-list-item
          class="nav-item"
          *ngIf="item.children"
          [routerLink]="item.children[0].route"
          [ngClass]="isRouteActive(item) ? 'bg-primary' : ''"
          [matTooltip]="item.label"
        >
          <mat-icon
            matListItemIcon
            [ngClass]="isRouteActive(item) ? 'text-white' : 'text-gray-70'"
            >{{ item.icon }}</mat-icon
          >
        </a>
      </ng-container>
    </mat-nav-list>

    <mat-nav-list class="nav-items">
      <ng-container *ngFor="let item of resources">
        <!-- Item without children -->
        <a
          mat-list-item
          class="nav-item"
          [routerLink]="item.route"
          routerLinkActive="bg-primary"
          [routerLinkActiveOptions]="{ exact: true }"
          [matTooltip]="item.label"
        >
          <mat-icon
            matListItemIcon
            class="me-0"
            [ngClass]="isRouteActive(item) ? 'text-white' : 'text-gray-70'"
            >{{ item.icon }}</mat-icon
          >
        </a>
      </ng-container>
    </mat-nav-list>
  </div>
</div>
